* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #fecc4e;
  width: 100% 
}

header img {
  width: 15%
}

.title {
  text-align:center;
  padding-top: 26px;
  margin-left: 20px;
  font-size: 70px;
  color: #ffa500;
  letter-spacing: 3px;
}

.title span {
  font-size: 30px;
  padding-left: 10px;
  letter-spacing: 4px;
}

.main {
  background-color:#fecc4e;
}

.main img{
  width:100%;
}

.main-visual-content {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fecc4e;
  padding-bottom: 10px;
}

.blurBg{
  color: #FF5F17;
  font-size: 264%;
  position: relative;
  z-index: 1;
  margin-bottom: -56px;
}

.blurBg span {
  font-size: 46px;
}

.back-left {
  color: white;
  background-color: white;
  width: 323px;
  height: 36px;
  margin:0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.back-right {
  color: white;
  background-color: white;
  width: 391px;
  height: 36px;
  margin:0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.vote {
  margin-right:130px;
}

.upbringing {
  margin-left: 130px;
}

.vote img {
  width: 411px;
}

.upbringing img {
  width: 411px;
}


footer {
  border-top: solid white 5px;
  justify-content: center;
  background-color: #fecc4e;
}

.footer-text {
  text-align:center;
  font-size: 63px
}

.announce-content {
  display: flex;
  text-align: center;
}

.announce-content img{
  border-radius: 30px;
}

.wedding {
  margin-left: 15px;
}

.wedding img{
  width: 80%;
}

.reception {
  margin-left: 5px;
}

.reception img{
  width: 80%;
  margin: 2px 0px 0px 8px;
}

.map {
  margin-left: 15px;
}
.map img{
  width: 80%;
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 960px) {
  
}