* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #fecc4e;
  width: 100%
}

header img {
  width: 15%;
  height: 10%;
}

.title {
  text-align:center;
  padding-top: 26px;
  margin-left: 20px;
  font-size: 50px;
  color: #ffa500;
  letter-spacing: 3px;
}

.title span {
  font-size: 25px;
  padding-left: 10px;
  letter-spacing: 4px;
}

.main {
  background-color:#fecc4e;
}

.main img{
  width:100%;
}

.main-visual-content {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fecc4e;
  padding-bottom: 10px;
  width: 100%;
}

.blurBg{
  color: #FF5F17;
  font-size: 200%;
  position: relative;
  z-index: 1;
  margin-bottom: -56px;
}

.blurBg span {
  font-size: 43px;
}

.back-left {
  color: white;
  background-color: white;
  width: 256px;
  height: 36px;
  margin:0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.back-right {
  color: white;
  background-color: white;
  width: 325px;
  height: 36px;
  margin:0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.vote {
  margin-right:50px;
}

.upbringing {
  margin-left: 60px;
}

.vote img {
  width: 270px;
}

.upbringing img {
  width: 270px;
}


footer {
  border-top: solid white 5px;
  justify-content: center;
  background-color: #fecc4e;
}

.footer-text {
  text-align:center;
  font-size: 63px
}

.announce-content {
  display: flex;
  text-align: center;
}

.announce-content img{
  border-radius: 30px;
}

.wedding {
  margin-left: 15px;
}

.wedding img{
  width: 80%;
}

.reception {
  margin-left: 5px;
}

.reception img{
  width: 80%;
  margin: 2px 0px 0px 8px;
}

.map {
  margin-left: 15px;
}
.map img{
  width: 80%;
}


@media screen and (max-width: 768px) {
  header img {
    height: 10%;
    width: 20%;
}

.title {
  text-align: center;
    padding-top: 4%;
    margin-left: 2%;
    font-size: 50px;
    color: #ffa500;
    letter-spacing: 3px;
}

.title span {
  font-size: 50%;
  padding-left: 0%;
  letter-spacing: 4px;
  display: block;
}

.blurBg{
  color: #FF5F17;
  font-size: 24px;
  position: relative;
  z-index: 1;
  margin-bottom: -10%;
}

.blurBg span {
  font-size: 33px;
}

.back-left {
  color: white;
  background-color: white;
  width: 50%;
  height: 14%;
  margin: 0 auto;
  translate: 0 -7px;
  filter: blur(7px);
  z-index: -1;
}

.back-right {
  color: white;
  background-color: white;
  width: 74%;
  height: 14%;
  margin: 0 auto;
  translate: 0 -5px;
  filter: blur(7px);
  z-index: -1;
}

.vote {
  margin-right: 0%;
}

.upbringing {
  margin-left: 0%;
}

.vote img {
  width: 65%;
}

.upbringing img {
  width: 65%;
}

.footer-text {
  text-align:center;
  font-size: 208%;
}

}

@media screen and (max-width: 480px) {


header img {
    height: 20%;
    width: 30%;
}

.title {
  text-align: center;
    padding-top: 0%;
    margin-left: 1%;
    font-size: 36px;
    color: #ffa500;
    letter-spacing: 3px;
}

.title span {
  font-size: 50%;
  padding-left: 35%;
  letter-spacing: 4px;
  display: block;
}

.blurBg{
  color: #FF5F17;
  font-size: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -10%;
}

.blurBg span {
  font-size: 100%;
}

.back-left {
  color: white;
  background-color: white;
  width: 50%;
  height: 14%;
  margin: 0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.back-right {
  color: white;
  background-color: white;
  width: 74%;
  height: 14%;
  margin: 0 auto;
  translate: 0 0px;
  filter: blur(7px);
  z-index: -1;
}

.vote {
  margin-right: 0%;
}

.upbringing {
  margin-left: 0%;
}

.vote img {
  width: 50%;
}

.upbringing img {
  width: 50%;
}


.footer-text {
  text-align:center;
  font-size: 208%
}

}